replicaCount: 1
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80

image:
  repository: markenx/markenx
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

resources: {}

mysql:
  enabled: true
  rootPassword: secret
  database: markenxdb
  user: markenx
  password: markenxpass

keycloak:
  enabled: true
  image: quay.io/keycloak/keycloak:25.0.6
  port: 7080
  adminUser: admin
  adminPassword: admin
  realmImportConfigMap: keycloak-realm-config

podAnnotations: {}
podLabels: {}
nodeSelector: {}
affinity: {}
tolerations: []
