replicaCount: 1

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80

image:
  repository: markenx/markenx
  tag: "latest"
  pullPolicy: IfNotPresent

imagePullSecrets: null

podAnnotations: {}
podLabels: {}

service:
  type: ClusterIP
  port: 8080

resources: {}

livenessProbe: null
readinessProbe: null

volumes: []
volumeMounts: []

nodeSelector: {}
affinity: {}
tolerations: []

serviceAccount:
  create: true
  annotations: {}
  name: ""

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: ""
      paths:
        - path: /
          pathType: Prefix
  tls: []

httpRoute:
  enabled: false
  parentRefs: []
  rules: []
