replicaCount: 1
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80

image:
  repository: markenx/markenx
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

resources: {}

mysql:
  enabled: true
  rootPassword: secret
  database: markenxdb
  user: markenx
  password: markenxpass

keycloak:
  image:
    repository: quay.io/keycloak/keycloak
    tag: 25.0.6
    pullPolicy: IfNotPresent
    pullSecrets: []
  keycloakConfigCli:
    image:
      repository: quay.io/keycloak/keycloak-config-cli
      tag: latest
      pullPolicy: IfNotPresent
      pullSecrets: []

serviceAccount:
  create: true
  name: ""
  annotations: {}
  automount: true

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: ""
      paths:
        - path: /
          pathType: Prefix
  tls: []

httpRoute:
  enabled: false
  parentRefs: []
  rules: []

podAnnotations: {}
podLabels: {}
nodeSelector: {}
affinity: {}
tolerations: []
